* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.App {
  text-align: center;
  background: #e84e93;
}

.continent-cards-wrap {
  display: flex;
  flex-direction: column;
}

.continent-cards-wrap .banner {
  background: linear-gradient(rgba(253, 151, 227, 0.705), rgba(255, 192, 203, 0.603)), url('https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29udGluZW50c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.continent-cards-wrap .divider {
  width: 100%;
  height: 1.5rem;
  padding-block: 2px;
  background-color: #df4783;
  text-transform: uppercase;
  text-align: left;
}

.continent-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 220px 220px 220px 220px;
  flex-wrap: wrap;
}

.continent-cards-wrap a {
  text-decoration: none;
  color: white;
}

.continent-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  backdrop-filter: blur(65px);
  color: white;
  background-color: #dc4681;
  border: 0.5px solid #cf4278;
}

.continent-card a {
  width: 60%;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

.continent-card:nth-child(even) {
  background-color: #cf4278;
}

.details-wrap {
  display: flex;
  flex-direction: column;
}

.details-wrap .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-cards {
  display: flex;
  flex-direction: column;
}

.detail-card {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: #d1447a;
  border: 1px solid #bd4372;
}

.detail-card img {
  width: 150px;
  height: 100px;
}
  
.detail-card div {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

thead {
  background-color: #751b3e;
  color: white;
  text-transform: uppercase;
}

.back-arrow {
  width: 50px;
  cursor: pointer;
}
